html{
    background-color: rgb(238, 238, 238);
}
body{
    width: 640px;
    height: 1200px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 7px 29px 0 hsla(240,5%,41%,.2);
}
.top{
    font-size: 20px;
}    