#question{
    display: none;
    width: 640px;
    height: auto;
    margin: auto;
}

.status {
    height: 20px;
    width: 90%;
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    margin: auto;
    position: relative;
    top: 120px;
  }
  
  .status_bar {
    position: relative;
    height: 100%;
    border-radius: 20px;
    background: #ff9494;
  }
.q_box {
    background-color:  #f7c6c6;
    text-align: center;
    border-radius: 20px;
    font-size: 26px;
    font-weight: bold;
    width: 600px;
    height: 50px;
    margin: auto;
    margin-top: 200px;
    color: white;
    padding-top: 10px;
  }
  /* 답변 */
  .answer_box{
    width: 640px;
    height: auto;
    margin: auto;
    text-align: center;
  }
  .answerList {
    width: 250px;
    height: 140px;
    font-size: 22px;
    border: 3px solid #efb6b6;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 20px;
    margin-top: 150px;
  }
  
  .answerList:hover, .answerList:focus {
    background-color: pink;
    color: whitesmoke;
  }
  

  #result{
    display: none;
    padding: 30px 20px;
    
  }
  .result_wrap{
    background-color: rgb(255, 245, 245);
    text-align: center;
    border-radius: 20px;
    width: 90%;
    height: 900px;
    margin: auto;

  }
  #result h1{
    padding: 10px;
  }
  
  .result_name{
    font-size: 26px;
    padding: 20px;
  }
  
  .result_desc{
    padding: 30px;
    font-size: 20px;
  }
  #result_img{
    width: 50%;
    margin: auto;
  }

.restart_btn{
  display: block;
  width: 150px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  box-sizing: border-box;
  margin: auto;
  border: none;
  border-radius: 40px;
  background-color: rgb(252, 195, 219);

}

fieldset{
    border: none;
    text-align: center;
}
.start{
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
}
.start h1{
    padding: 30px;
    font-size: 42px;
}
.start img{
    padding-bottom: 50px;
}
.txt_1{
    font-size: 26px;
    padding-bottom: 60px;
}
.txt_wrap{

}
.txt_2{
    font-size: 22px;
    padding-bottom: 30px;
}
.txt_3{
    font-size: 22px;
}
.go_rec{
    width: 250px;
    height: 80px;
    font-size: 24px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 80px;
    border: none;
    border-radius: 50px;
    background-color: rgb(251, 234, 241);
}

#title{
    font-size: 26px;
    padding-top: 150px;
}
h1{
  font-weight: bold;
}
h2{
    position: relative;
    font-size: 30px;
    top: 100px;
}
.rec_img{
  width: auto;
  height: 250px;

}
.rec_img img{
  position: relative;
  animation: motion 0.6s /* 속도 */
  linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
  infinite alternate; /* 무한 반복 */

}
@keyframes motion {
	0% {margin-top: 0px;} /* 처음 위치 */
	100% {margin-top: 12px;} /* 마지막 위치 */
  }
