header{
    position: relative;
}
.bottom_menu{
    width: 640px;
    position: fixed;
    bottom: 0px;
    background-color: #020202;
}

.main{
    width: auto;
    height: 100%;
    
}
.main_img{
    width: 100%;
    height: 180px;
    
    display: block;
    position: relative;
}
.main .timer_wrap{
    width: 100%;
    height:300px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.timer_text{
    position: relative;
    color: white;
    font-weight: bold;
    padding-top: 70px;
    font-size:30px;
}
.main .timer_wrap ::after{
    width: 100%;
    height:300px;
    content: "";
    background: url(../images/main.png) no-repeat;
    background-size: 640px 240px;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    filter: brightness(80%); 
}
.best{
    width: auto;
    height:500px;
    background-color:rgb(239, 237, 231);
    position: relative;
    margin-top: -60px;
}
.b_txt1{
    font-size: 30px;
    padding-top: 20px;
    margin-left:40px ;
    color: #138E10;
    font-weight: bold;
}
.b_txt2{
    font-size: 24px;
    margin-left: 40px ;
    padding-top: 10px;
}
.b_txt3{
    font-size: 24px;
    margin-left: 40px ;
    padding-top: 20px;
}
.best_slick{
    height: 306px;
    margin-top: 27px;
    background-color: rgb(255, 255, 255);
    border-radius:0 50px 0 0;
}
.best_slick li{    
    margin-top: 40px;
}
.b_img1 a{
    width: 160px;
    height: 200px;
    margin: auto;
    display: block;
    background: url(../images/book1.png) no-repeat;
    border-radius: 20px;
    text-indent: -9999px;

}
.b_img2 a{
    width: 160px;
    height: 200px;
    margin: auto;
    display: block;
    background: url(../images/book2.png)no-repeat;
    border-radius: 20px;
    text-indent: -9999px;

}
.b_img3 a{
    width: 160px;
    height: 200px;
    margin: auto;
    display: block;
    background: url(../images/book3.png)no-repeat;
    border-radius: 20px;
    text-indent: -9999px;
}
.b_img4 a{
    width: 160px;
    height: 200px;
    margin: auto;
    display: block;
    background: url(../images/book4.png)no-repeat;
    border-radius: 20px;
    text-indent: -9999px;
}
.b_img5 a{
    width: 160px;
    height: 200px;
    margin: auto;
    display: block;
    background: url(../images/book5.png)no-repeat;
    border-radius: 20px;
    text-indent: -9999px;
}
.book_rec{
    width: 600px;
    height: 200px;
    margin: auto;
    background: url(../images/book_rec.png) no-repeat ;
    background-position: 400px;
    display: block;
    background-color: rgb(246, 239, 239);
    border-radius:50px;
    
}
.book_rec a{
    /* width: 180px;
    height: 130px; */
    width: 600px;
    height: 200px;
    display: block;
    padding: 50px 30px 40px 30px;
    /* background: url(../images/book_rec.png) no-repeat ; */
}
.rec_txt1{
    font-size: 30px;
    font-weight: bold;
}
.rec_txt2{
    font-size: 24px;
}