.login_form{
    width: auto;
    height: auto;
    position: relative;
    margin: auto;
    
}
fieldset{
    border: none;
    font-size: 26px;
    margin: auto;
    
}

.top{
    font-size: 34px;
    margin: auto;
    padding: 100px 0 160px 0;
}    
label{
    display: none;
}
.line{
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
input{
    width: 500px;
    height: 60px;
    font-size: 26px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
}
.search{
    font-size: 22px;
}
.login_bt{
    margin: auto;
    text-align: center;
    margin-top: 60px;
}
.login_bt button{
    width: 500px;
    height: 70px;
    margin: auto;
    border: none;
    background-color: rgb(163, 9, 66);
    color: white;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
.join{
    margin: auto;
    text-align: center;
}
.join a{
    margin: auto;
    margin-top: 30px;
    display: block;
    width: 500px;
    height: 60px;
    border: 2px solid rgb(163, 9, 66);
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    padding-top: 10px;
    border-radius: 10px;
}
.fail{
    margin: auto;
    text-align: center;
}
.fail span{
    margin: auto;
    margin-top: 30px;
    display: block;
    width: 500px;
    height: 50px;
    padding-top: 5px;
    border: 0.5px solid rgb(163, 9, 66);
    background-color: #fff9f9;
    color: #a71212;
    font-size: 26px;
    border-radius: 10px;
    margin-bottom: 20px;

}