fieldset{
    border: none;
    padding: 20px;
    font-size: 20px;

}
legend{
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}
label{
    width: 100px;
    margin: auto;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}
input{
    width: 160px;
    height: 40px;
    border: none;
    font-size: 18px;
    margin: 18px 0;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 0;
    vertical-align: middle;
    padding-left: 10px;
}
.title input{
    width: 440px;
}
.author{
    float: left;
}
.reading_day input{
    width: 200px;
}
.impressive input{
    width: 440px;
}
.content label{
    position: relative;
    top:-140px
}
.content textarea{
    font-size: 18px;
}
.count{
    position: relative;
    left: 500px;
    top: -40px;
}
.button{
    margin: auto;
    text-align: center;
}
button{
    width: 120px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(255, 246, 234);
    border:  none;
    border-radius: 10px;
}