fieldset{
    border: none;
    padding: 20px;
    font-size: 20px;

}
legend{
    font-size: 40px;
    font-weight: bold;
}
label{
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}
span{
    display: inline-block;
    width: 160px;
    height: 40px;
    border: none;
    font-size: 20px;
    margin: 18px 0;
    padding: 0;
    vertical-align: middle;
    padding-left: 10px;
    /* border: 0.5px solid red; */
}
.title input{
    width: 440px;
}
.author{
    float: left;
}
.reading_day input{
    width: 200px;
}
.content span{
    position: relative;
    top:10px
}
.impressive span{
    position: relative;
    top: -10px;
}

.edit_button{
    margin: auto;
    text-align: center;
    
}
.update_btn{
    width: 120px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(255, 246, 234);
    border:  none;
    border-radius: 10px;
    margin:10px;
}
.delete_btn{
    width: 120px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(255, 231, 227);
    border:  none;
    border-radius: 10px;
    margin:10px;
}
