/*CSS 초기화태그들이 가지고 있는 기본속성과 값을 코딩하기 편한 값으로 변경*/
body,h1,h2,h3,p,div,ul,li,dl,dt,dd{
    margin:0;
    padding:0
}
body {
    font-family: 'Capriola','Noto Sans KR', sans-serif;
    /* font-family: 'Capriola', sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    width: 640px;
    height: 1080px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 7px 29px 0 hsla(240,5%,41%,.2);
}
html{
    width: 100%;
    height: 100%;
    background-color: rgb(238, 238, 238);
}

.top{
    font-size: 20px;
}    
a {
    text-decoration: none;
    color: #000;
}
ul,
li {
    list-style: none;
}
address {
    font-style: normal;
}
.j_hide{
    display: none;
}
.hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.flex-container{
    display: inline-flex;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.flex-item a{
    margin: auto;
    justify-content: space-around;
}
.bottom_menu .home a{
    width: 55px;
    height: 60px;
    display: block;
    background: url("../images/home.png")no-repeat;
    text-indent: -9999px;
    text-align: center;
}
.bottom_menu .timer a{
    width: 55px;
    height: 60px;
    text-indent: -9999px;
    display: block;
    background: url("../images/timer.png")no-repeat;
    text-align: center;
}
.bottom_menu .book a{
    width: 55px;
    height: 60px;
    display: block;
    background: url("../images/book.png")no-repeat;
    text-indent: -9999px;
    text-align: center;
}
.bottom_menu .mypage a{
    width: 55px;
    height: 60px;
    text-indent: -9999px;
    display: block;
    background: url("../images/mypage.png")no-repeat;
    text-align: center;
}