.timer_wrap{
    width: 500px;
    margin: auto;
    position: relative;
    /* background: url(../images/ttt.png)no-repeat; */
    /* background-position: 14px; */
    text-align: center;
    
}
.img_ani{
    animation: motion 1.2s
    linear 0s  
    infinite alternate; 
}
@keyframes motion {
    0% {transform: rotate(0);} 
    50% {transform: rotate(-5deg);;} 
    100% {transform: rotate(5deg);;} 
}
legend{
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
}
.time{
    position: relative;
    top: 280px;
    /* padding: 100px 0 280px 0; */
    font-size: 50px;
    text-align: center;
}
.btn{
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    
}

.reset_btn{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    left: -40px;
    position: relative;
}
.start_btn{
    position: relative;
    left: 35px;
    width: 180px;
    height: 80px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(217, 217, 235);

}
.stop_btn{
    width: 180px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    left: 35px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(223, 206, 206);
}