.timer_wrap{
    width: 500px;
    height: 700px;
    margin: auto;
    position: relative;
    background: url(../images/ttt.png)no-repeat;
    background-position: 14px;
    text-align: center;
}
legend{
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
}
.time{
    padding: 300px 0 280px 0;
    font-size: 50px;
    text-align: center;
}
.btn{
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    
}
.btn input{
    /* width: 180px;
    height: 80px;
    border-radius: 50px;
    
    border: none;
    font-size: 20px;
    cursor: pointer; */
}
.reset_btn{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    left: -40px;
    position: relative;
}
.start_btn{
    width: 180px;
    height: 80px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(217, 217, 235);

}
.stop_btn{
    width: 180px;
    height: 80px;
    border-radius: 50px;
    
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(223, 206, 206);
}