<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/book_rec.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>책 추천</title>
</head>

<script type="text/javascript">
    // 헤더
    // $(function(){
    //     $("#header").load("header.html");
    // })
    var num = 1; //문제 번호 
    var q = { //질문 데이터
        1: {"title": "1번 문제", "type": "category", "A": "나는 가볍게 스토리 있는 소설을 읽고 싶어",   "B": "다양한 지식을 얻을 수 있는 책이 좋아"},
        2: {"title": "2번 문제", "type": "genre",    "A": "판타지", "B": "로맨스"},
        3: {"title": "3번 문제", "type": "ending",   "A": "책의 마무리는 해피엔딩이 최고지!",   "B": "새드"},
        4: {"title": "4번 문제", "type": "length",   "A": "여러 시리즈로 길게 읽고 싶어",   "B": "한권으로 끝나는 책이 좋아!"},
        5: {"title": "5번 문제", "type": "length",   "A": "장편",   "B": "단편"}
    }
    
    function start(){ // 시작하기 누르면 시작페이지 사라지고 질문 보여주기
        $(".start").hide();
        $(".question").show();
        $(".result").hide();
        next();
    }

    function next() { //자동으로 질문 대답 변경 함수
        // var Aanswer = $("#A").html();
        // var Banswer = $("#B").html();

        // $("#type").click(function(){
        //     alert($(this).html());
        // });
       
        $("#title").html(q[num]["title"]);  //num 가져와서 해당하는 n번 문제 title 텍스트 가져옴
        $("#type").val(q[num]["type"]); 
        $("#A").html(q[num]["A"]); 
        $("#B").html(q[num]["B"]); 
        // $("#C").html(q[num]["C"]); 
        // alert(num);

        num++;

    }
    // $(document).on("click", "#A", function(){
    //     // 클릭 정상 작동 확인용 
    //     var a=$(this).html() //스프링에 html요소로 전달 안될 수 있으니 변수 선언
    //     // alert(a); 
    //     next();
    // })
    $(document).on("click", "#B, #A", function(){
        //클릭 정상 작동 확인용
        var a=$(this).html() //스프링에 html요소로 전달 안될 수 있으니 변수 선언
        if(num>5){
            $(".question").hide();
            $(".result").show();
        }
        next();
    })

    // $("#A").click(function () {
    //     next();
    // });

    // $("#B").click(function () {
    //     next();
    // });
    //- 클릭 이벤트 미발생 오류 해결 -  element가 나중에 생긴 경우에는 click 이벤트가 적용되지 않음

</script>
<body>
    <div class="header">
        <ul class="bottom_menu flex-container">
            <li class="home flex-item"><a href="./home.html">홈</a></li>
            <li class="timer flex-item"><a href="./timer.html">타이머</a></li>
            <li class="book flex-item"><a href="./report_list.html">독후감</a></li>
            <li class="mypage flex-item"><a href="">마이페이지</a></li>
        </ul>
 </div>
 
    <div class="start">
        <!-- 시작 페이지 누르면 질문 페이지 짜란 -->
        <!-- <h1>오늘 읽고 싶은 책은?</h1> -->
        <h1>책 추천 받기</h1>
        <h3>오늘은 내 취향에 맞는 책을 읽고 싶은걸?</h3>

        <p>"오늘은 해피하게 끝나는 가벼운 책을 읽고 싶어!"</p>
        <p>"소설 책인데 단편인 책은 없을까?"</p>

        <p>오늘 읽고 싶은 책이 있다면 간단한 질문으로 책을 추천받아보세요.</p>

        <button class="go_rec" type="button" onclick="start()">추천 받으러 가기</button>
    </div> 

    <!-- 기존 코딩 -->
    <!-- <div class="question" >
        질문마다 버튼 선택하면 데이터 저장 후 넘기기.....
        <h2 id="title">1번 문제</h2>
        <input id="type" type="hidden" value="category">
        <button id="A" type="button">대답</button>
        <button id="B" type="button">대답</button>
        <button id="C" type="button">대답</button>
    </div> -->


    <!-- form 형식  -->
    <div class="question" >
        <form name="question_form" action="" method="post">
            <fieldset>
                <p id="title">1번 문제</p>

                <input id="type" type="hidden" value="category">
                <div class="btn_wrap">
                    <button class="ans1" id="A" type="button">대답</button>
                    <button class="ans2" id="B" type="button">대답</button>
                </div>

            </fieldset>
        </form>
    </div>

    <input type="hidden" id="category" value="0"><!--소설 vs 정보를 주는..?-->
    <input type="hidden" id="genre" value="0"> <!--판타지 vs 로맨스 vs 스릴러-->
    <input type="hidden" id="ending" value="0"><!--해피 vs 새드-->
    <input type="hidden" id="length" value="0"><!--장편 vs 단편-->

    <div class="result">
        <!-- select된 데이터 받아서 책 이미지 짜란 -->
        <p>결과 페이지 입니다!</p>

    </div>
</body>
</html>