<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/find_id.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <title>아이디 찾기</title>
</head>
<body>  
    <div class="header">
        <ul class="bottom_menu flex-container">
            <li class="home flex-item"><a href="/home">홈</a></li>
            <li class="timer flex-item"><a href="/timer">타이머</a></li>
            <li class="book flex-item"><a href="/book/list">독후감</a></li>
            <li class="mypage flex-item"><a href="/mypage">마이페이지</a></li>
        </ul>
    </div>
    <form name="id_search_form" th:action="@{/members/findId}" method="post">
        <fieldset>
            <legend class="top">당신의 가입한 이메일을 알려드립니다!</legend>
            <div class="member_nickname line">
                <label for="member_nickname"></label>
                <input type="text" name="member_nickname" id="member_nickname" placeholder="닉네임">
            </div>
            <div class="member_password line">
                <label for="member_phone">핸드폰</label>
                <input type="text" name="member_phone" id="member_phone" placeholder="핸드폰 번호">
            </div>
            <div class="confirm">
                <button type="submit">아이디 확인하기</button>
            </div>



        </fieldset> 

    </form>
    
</body>
</html>