<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/slick-1.8.1/slick/slick.css">
    <script src="../static/slick-1.8.1/slick/slick.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <title>Home</title>
    <script>
        $(document).ready(function(){
            const timer = document.querySelector('.time')
            if (('localStorage' in window) && window['localStorage'] !== null) {
                if (localStorage.getItem('timer')) {
                    timer.innerText = localStorage.getItem('timer');
                }
            }


            $('.best_slick').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1000,
                arrows: false
            });
        }); 
    </script>
</head>
<body>

<!--    <header th:replace="header :: header"> </header>-->
<div class="header">
    <ul class="bottom_menu flex-container">
        <li class="home flex-item"><a href="./home.html">홈</a></li>
        <li class="timer flex-item"><a href="./timer.html">타이머</a></li>
        <li class="book flex-item"><a href="./report_list.html">독후감</a></li>
        <li class="mypage flex-item"><a href="./mypage.html">마이페이지</a></li>
    </ul>
</div>

    <div class="main">
        <!-- <div class="main_img">
            
        </div> -->
        <div class="timer_wrap">
            <!-- <img class="main_img" src="../images/main.png" alt=""> -->
            <div class="timer_text">
                <p class="today_timer">오늘의 독서량</p>
                <p class="time">00:00:00</p>
            </div>
        </div>
        <div class="best">
            <p class="b_txt1">오늘의 인기도서</p>
            <p class="b_txt2">인기도서 목록을 확인해보세요.</p>
            <p class="b_txt3">Book List</p>
            <!-- <a href="/book/write"><span class="rec_txt1">==-==독서록 쓰기-======</span> <br> <span class="rec_txt2">책 추천 받으러 가기</span></a> -->
            <!-- <a href="book/write">========독서록 쓰기========</a> -->
            <!-- 슬라이더 삽입 -->
            <ul class="best_slick">
                <li class="b_img1"><a href="#">책1</a></li>
                <li class="b_img2"><a href="#">책2</a></li>
                <li class="b_img3"><a href="#">책3</a></li>
                <li class="b_img4"><a href="#">책4</a></li>
                <li class="b_img5"><a href="#">책5</a></li>
            </ul>
        </div>
        <div class="book_rec">
            <a href="./book_rec.html"><span class="rec_txt1">지금 가장 읽고 싶은 책은?</span> <br> <span class="rec_txt2">책 추천 받으러 가기</span></a>
        </div>

    </div>
    
</body>
</html>