<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/reset.css">
    <title>Home</title>
    <script>
        $(function(){
            $("#header").load("header.html");
        })
    </script>
</head>
<body>

<!--    <header th:replace="header :: header"> </header>-->
    <div id="header"></div>
<!--     <div class="header">
         <nav class="bottom_menu">
            <ul>
                <li><a href="./home.html">홈</a></li>
                <li><a href="">타이머</a></li>
                <li><a href="./report_list.html">독후감</a></li>
                <li><a href="">찜</a></li>
                <li><a href="">마이페이지</a></li>
            </ul>
        </nav>
    </div>-->
    <!-- header코드 분리 -->
   

    <div class="main">
        <!-- <div class="main_img">
            
        </div> -->
        
            
        <div class="timer">
            <!-- <img class="main_img" src="../images/main.png" alt=""> -->
            <div class="timer_text">
                <p class="today_timer">오늘의 독서량</p>
                <p>00:00:00</p>
            </div>

        </div>
        <div class="best">
            <p class="b_txt1">오늘의 인기도서</p>
            <p class="b_txt2">인기도서 목록을 확인해보세요.</p>
            <p class="b_txt3">Book List</p>

            <!-- 슬라이더 삽입 -->
            <ul>
                <li>책1</li>
                <li>책2</li>
                <li>책3</li>
            </ul>
        </div>
        <div class="book_rec">
            <a href="./book_rec.html"><span class="rec_txt1">지금 가장 읽고 싶은 책은?</span> <br> <span class="rec_txt2">책 추천 받으러 가기</span></a>
        </div>

    </div>
    
</body>
</html>