<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/my_edit.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <ul class="bottom_menu flex-container">
            <li class="home flex-item"><a href="/home">홈</a></li>
            <li class="timer flex-item"><a href="/timer">타이머</a></li>
            <li class="book flex-item"><a href="/book/list">독후감</a></li>
            <li class="mypage flex-item"><a href="/mypage">마이페이지</a></li>
        </ul>
    </div>
    <form class="join_form" th:action="" th:method="">
        <fieldset>
            <legend>회원정보 수정하기</legend>

            <div class="member_email line">
                <label for="member_email"class="n_label">아이디</label>
                <input class="s_input" type="text" name="member_email" id="member_email" placeholder="아이디/이메일">
            </div>
            <div class="member_nickname line">
                <label for="member_nickname" class="n_label">닉네임</label>
                <input class="s_input" type="text" name="member_nickname" id="member_nickname" placeholder="닉네임">
            </div>
            <div class="member_password line">
                <label for="member_password" class="n_label">비밀번호</label>
                <input class="s_input" type="password" name="member_password" id="member_password" placeholder="비밀번호">
            </div>
            <div class="re_password line">
                <label for="re_password" class="n_label">비밀번호 확인</label>
                <input class="s_input" type="password" name="re_password" id="re_password" placeholder="비밀번호 확인">
            </div>

            <div class="member_gender line">
                <span class="c_title n_label">성별</span>
                <input type="radio" name="member_gender" id="male" value="M">
                <label for="male">남</label>
                <input type="radio" name="member_gender" id="female" value="W">
                <label for="female">여</label>
            </div>
           
            <p class="fin_bt">
                <button class="" type="submit">수정하기</button>
            </p>


        </fieldset>
    </form>
    
</body>
</html>