<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <title>독후감</title>
    <script>
        $(function(){
            $("#header").load("header.html");
        })
    </script>
</head>
<body>
    <div id="header"></div>
    <form action="" method="">
        <fieldset>
            <legend>독후감</legend>
            <div class="책 정보">
                <p>책 사진</p>
                <p>책 제목</p>
            </div>
            <div class="title">
                <label for="title">제목</label>
                <input type="text" name="title" id="title">


            </div>
            <div class="content">
                <label for="content">내용</label>
                <textarea name="content" id="content" cols="50" rows="20"></textarea>
            </div>
            <div class="impressive">
                <label for="content">인상깊은 구절</label>
                <input name="impressive" id="impressive" cols="50" rows="20"></input>
            </div>
            <p class="button">
                <button type="submit">등록하기</button>
            </p>

        </fieldset>
    </form>
    
</body>
</html>