<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/report_write.css">
    <title>독후감</title>
    <!-- <script>
        $(function(){
            $("#header").load("header.html");
        })
    </script> -->
</head>
<body>
    <div class="header">
        <ul class="bottom_menu flex-container">
            <li class="home flex-item"><a href="/home">홈</a></li>
            <li class="timer flex-item"><a href="/timer">타이머</a></li>
            <li class="book flex-item"><a href="/book/list">독후감</a></li>
            <li class="mypage flex-item"><a href="/mypage">마이페이지</a></li>
        </ul>
 </div>
 
    <form class="report_write" th:action="@{/book/write}" th:method="post">
        <fieldset>
            <legend>기록하고 기억하는 <br> 독서 기록장</legend>

            <input type="hidden" name="memberNickname" id="memberNickname" th:value="${session.member_nickname}">

            <div class="title">
                <label for="title">제목</label>
                <input type="text" name="readingTitle" id="title">
            </div>
            <div class="author">
                <label for="author">작가</label>
                <input type="text" name="readingAuthor" id="author">
            </div>
            <div class="publisher">
                <label for="publisher">출판사</label>
                <input type="text" name="readingPublisher" id="publisher">
            </div>
            <div class="reading_day">
               <label for="reading_day">독서 기간</label>
                <input type="text" name="readingStart" id="start">  ~
                <input type="text" name="readingEnd" id="end">
            </div>
            <div class="content">
               <label for="content">내용</label>
                <textarea name="readingContent" id="reading_content" cols="61" rows="20"></textarea>
            </div>
            <div class="impressive">
               <label for="content">인상깊은 구절</label>
                <input name="readingImpressive" id="reading_impressive" cols="50" rows="20">
            </div>
            <div class="button">
                <button type="submit">등록하기</button>
            </div>

        </fieldset>
    </form>
    
</body>
</html>