<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/report_list.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <title>report_list</title>
    <!-- <script>
        $(function(){
            $("#header").load("header.html");
        })
    </script> -->
</head>
<body>
<div class="header">
    <ul class="bottom_menu flex-container">
        <li class="home flex-item"><a href="/home">홈</a></li>
        <li class="timer flex-item"><a href="/timer">타이머</a></li>
        <li class="book flex-item"><a href="/book/list">독후감</a></li>
        <li class="mypage flex-item"><a href="/mypage">마이페이지</a></li>
    </ul>
</div>

<main>
    <div class="top">
        <h1>book_list</h1>
        <p>오늘은 무슨 책을 읽으셨나요?</p>
    </div>
    <span class="write"><a href="write">글쓰기</a></span>

    <ul class="list">

        <li th:each ="board : ${readingList}" class=""><a th:href="|/book/reading/${board.readingCD}|">
            <div class="b_wrap">
               <span th:text="${board.readingTitle}" class="b_title">불편한 편의점</span>
               <span th:text="${board.readingRegister}" class="b_date">2023.11.19</span>
<!--                    <td th:text="${board.readingAuthor}"/>-->
<!--                    <td th:text="${board.readingContent}"/>-->
<!--                    <a href="/report_view/"+${board.readingCD}+></a>-->
                    <!-- <td th:text="${board.readingTitle}"/> -->
                    <!-- <td th:text="${board.readingImpressive}"/> -->
                    <!-- <td th:text="${board.readingRegister}"/> -->
            </div>
        </a></li>
        <!--        <li class=""><a href="./report_view.html">-->
        <!--            <div class="b_wrap">-->
        <!--                <span class="b_title">불편한 편의점</span>-->
        <!--                <span class="b_date">2023.11.19</span>-->
        <!--            </div>-->
        <!--        </a></li>-->
        <!--        <li class=""><a href="./report_view.html">-->
        <!--            <div class="b_wrap">-->
        <!--                <span class="b_title">불편한 편의점</span>-->
        <!--                <span class="b_date">2023.11.19</span>-->
        <!--            </div>-->
        <!--        </a></li>-->
        <!--        <li class=""><a href="./report_view.html">-->
        <!--            <div class="b_wrap">-->
        <!--                <span class="b_title">불편한 편의점</span>-->
        <!--                <span class="b_date">2023.11.19</span>-->
        <!--            </div>-->
        <!-- </a></li> -->


    </ul>

    <!-- <tr class="list" th:each="board : ${tbReading}">
     <td>
         <span class="aa" th:text="${board.id}">
             <a th:href="@{'/post/' + ${board.id}">
                 <span th:text="${board.title}"></span>
             </a>
         </span>
     </td>
    </tr> -->

</main>

</body>
</html>