<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/report_edit.css">
    <title>독후감</title>

</head>
<body>
    <div class="header">
        <ul class="bottom_menu flex-container">
            <li class="home flex-item"><a href="/home">홈</a></li>
            <li class="timer flex-item"><a href="/timer">타이머</a></li>
            <li class="book flex-item"><a href="/book/list">독후감</a></li>
            <li class="mypage flex-item"><a href="/mypage">마이페이지</a></li>
        </ul>
 </div>
 
    <form class="report_edit" th:action="|/book/update/${id}|" th:method="POST">
        <fieldset>
            <input type="hidden" name="_method" value="PUT"/>
            <legend>기록하고 기억하는 <br> 독서 기록장</legend>

            <div class="title">
                <label for="title">제목</label>
                <input type="text" name="readingTitle" placeholder="제목" th:value="${title}">
            </div>
            <div class="author">
                <label for="author">작가</label>
                <input type="text" name="readingAuthor" placeholder="작가" th:value="${author}">
            </div>
            <div class="publisher">
                <label for="publisher">출판사</label>
                <input type="text" name="readingPublisher" placeholder="출판사" th:value="${publisher}">
            </div>
            <div class="reading_day">
                <label for="reading_day">독서 기간</label>
                <input type="text" name="readingStart" placeholder="시작날짜" th:value="${start}">  ~
                <input type="text" name="readingEnd" placeholder="끝난날짜" th:value="${end}">
            </div>
            <div class="content">
                <label for="content">내용</label>
                <textarea name="readingContent" th:text="${content}" cols="47" rows="20" wrap="on"></textarea>
                <div class="count"><span>0</span>/200</div>
            </div>

            <div class="impressive">
                <label for="content">인상깊은 구절</label>
                <input name="readingImpressive" placeholder="인상깊은 구절" th:value="${impressive}" cols="50" rows="20">
            </div>
            <p class="edit_button">
                <button type="submit">등록하기</button>
            </p>

        </fieldset>
    </form>
    <script>
        $('.content textarea').keyup(function(){
        var content = $(this).val();
        $('.content .count span').html(content.length);
        if (content.length > 200){
            alert("최대 200자까지 입력 가능합니다.");
            $(this).val(content.substring(0, 200));
            $('.content .count span').html(200);
        }
        });
    </script>
    
</body>
</html>