<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/report_write.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <title>독후감</title>
</head>
<body>
    <div class="header">
        <ul class="bottom_menu flex-container">
            <li class="home flex-item"><a href="/home">홈</a></li>
            <li class="timer flex-item"><a href="/timer">타이머</a></li>
            <li class="book flex-item"><a href="/book/list">독후감</a></li>
            <li class="mypage flex-item"><a href="/mypage">마이페이지</a></li>
        </ul>
 </div>
 
    <form class="report_write" th:action="@{/book/write}" th:method="post">
        <fieldset>
            <legend>기록하고 기억하는 <br> 독서 기록장</legend>

            <input type="hidden" name="memberNickname" id="memberNickname" th:value="${session.member_nickname}">

            <div class="title">
                <label for="title">제목</label>
                <input type="text" name="readingTitle" placeholder="제목" id="title">
            </div>
            <div class="author">
                <label for="author">작가</label>
                <input type="text" name="readingAuthor" placeholder="작가" id="author">
            </div>
            <div class="publisher">
                <label for="publisher">출판사</label>
                <input type="text" name="readingPublisher" placeholder="출판사" id="publisher">
            </div>
            <div class="reading_day">
               <label for="reading_day">독서 기간</label>
                <input type="text" name="readingStart" placeholder="시작날짜" id="start">  ~
                <input type="text" name="readingEnd" placeholder="끝난날짜" id="end">
            </div>
            <div class="content">
               <label for="content">내용</label>
                <textarea name="readingContent" id="reading_content" cols="47" rows="18" wrap="on"></textarea>
                <div class="count"><span>0</span>/500</div>
            </div>
            <div class="impressive">
               <label for="content">인상깊은<br>구절</label>
                <input name="readingImpressive" placeholder="인상깊은 구절" id="reading_impressive" cols="50" rows="20">
            </div>
            <div class="button">
                <button type="submit">등록하기</button>
            </div>
        </fieldset>
    </form>
    <script>
        $('.content textarea').keyup(function(){
        var content = $(this).val();
        $('.content .count span').html(content.length);
        if (content.length > 500){
            alert("최대 500자까지 입력 가능합니다.");
            $(this).val(content.substring(0, 500));
            $('.content .count span').html(500);
        }
        });
    </script>
    
</body>
</html>