<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/reset.css">
    <title>독후감</title>
    <script>
        $(function(){
            $("#header").load("header.html");
        })
    </script>
</head>
<body>
    <div id="header"></div>
    
        
    <div class="책 정보">
        <p>책 사진</p>
        <p>책 제목</p>
    </div>
    <div class="title">
        <p>제목</p>
    </div>
    <div class="content">
        <p>내용</p>
    </div>
    <div class="impressive">
       <p>인상깊은 구절</p>
    </div>
    <a href="#">수정하기</a>

   
    
</body>
</html>